body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: white;
  color: #333;
   background-image: url(images/background\ image.jpeg);
}

header {
  background-color: purple;
  color: white;
  padding: 1em;
  text-align: center;
}
nav a {
  color: #fff;
  margin-right: 15px;
  text-decoration: none;
}

.form-section, .customer-list {
  padding: 2em;
  max-width: 900px;
  margin: auto;
  background-color: #fff;
  border-radius: 8px;
  margin-top: 2em;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

h2 {
  color: #2d6a4f;
}

form {
  display: grid;
  gap: 1em;
}

input, select, button {
  padding: 0.7em;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background-color: #2d6a4f;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;

}

button:hover {
  background-color: green;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1em;
}

th, td {
  padding: 0.8em;
  border: 1px solid #ddd;
  text-align: left;
}

th {
  background-color: #74c69d;
  color: white;
}
