meta(charset="UTF-8")
meta(name="viewport", content="width=device-width,initial-scale=1")
title Logout Page
link(rel="stylesheet", href="../public/css/logout.css")
.logout-container
  h1 ✅ You have logged out
  p Thank you for visiting. See you soon!
  a.btn(href="index.html") Go to Login
  p.redirect-info
    | 
Redirecting in 
    span#countdown 5
    |  seconds...

script(src="../public/js/logout.js")